@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ol>
    @foreach (string cases in (string[])ViewData["cases"]!) {
        <li>@cases</li>
    }
</ol>